.inputSearch{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0d253f;
    color: #fff;
    width: 80%;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
}

.a input{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
}
.a input::placeholder{
    font-size: 20px;
}

.btnSearchj {
    background-color: #1a65b6;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 20px;
    position: relative;
    right: 50px;
    top: 1px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: .7s;
}

.btnSearchj:hover{
    color: #000;
}

@media (max-width: 1090px){
    .inputSearch{
        height: 250px;
    }
    .input-field{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .input-field a{
        text-align: center;
        width: 50%;
        position: static;
        margin-top: 10px;
    }
    .a{
        width: 100%;
    }
    .a h1{
        display: none;
    }
}