footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0d253f;
    height: 121px;
    margin-top: 20px;
    width: 100%;

}